#app {
    margin-top: 50px;
    min-height: calc(100vh - 100px);
    padding: 50px;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 200px);
    background-color: rgb(255, 255, 255, 0.1);
    padding: 50px 25px;
    text-align: center;
    gap: 20px;
}

#rrss-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    z-index: 1;
}

.rrss {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}



.rrss:hover {
    cursor: pointer;
}

.rs-text {
    color: black;
    overflow: hidden;
    height: 100%;
    width: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: right;
    box-shadow: 5px 5px 4px;
}

.whatsapp {
    background-color:#25D366
}

.instagram {
    background-color: #C13584;
}

.rs-ico {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 4px;
}

.rs-ico > svg {
    pointer-events: none;
}

.contract {
    animation: contract 1s ease-in-out forwards;
}

.expand {
    animation: expand 1s ease-in-out forwards;
}

@keyframes expand {
    from {
        width: 0;
        padding-left: 0;
    }
    to {
        width: 100%; 
        padding-left: 10px;
    }
}

@keyframes contract {
    from {
        width: 100%;
        padding-left: 10px;
    }
    to {
        width: 0;
        padding-left: 0;
    }
}